<header class="header" >
  <div class="header__top">
    <div class="container">
      <div class="header__top__left">
        <div class="logo">
          <a routerLink="/home">
            <img src="assets/images/logo.png" alt="" width="180px" height="90px">
          </a>
          <div class="category-btn">
            <button class="btn-change-category" mat-button [matMenuTriggerFor]="category">
              <mat-icon matSuffix>category</mat-icon>
            </button>

            <mat-menu #category="matMenu">
              <button mat-menu-item >Sách trong nước</button>
              <button mat-menu-item >VPP - Dụng cụ học sinh</button>
              <button mat-menu-item >Đồ chơi</button>
              <button mat-menu-item >Làm Đẹp</button>

            </mat-menu>

          </div>
          <mat-form-field appearance="outline" class="search-field">
            <input matInput type="text" placeholder="Luyện đề thi đại học..." />
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
        </div>
      </div>

      <div class="header__top__right">
        <div class="header__top__right__cart">
          <a routerLink="/cart" class="cart-btn" mat-button>
            <mat-icon>shopping_cart</mat-icon>
          </a>
        </div>

        <div class="header__top__right__language">
          <button class="btn-change-language" mat-button [matMenuTriggerFor]="languageMenu">🇻🇳 Vietnam</button>
          <mat-menu #languageMenu="matMenu">
            <button mat-menu-item (click)="changeLanguage('vi')">🇻🇳 Vietnam</button>
            <button mat-menu-item (click)="changeLanguage('en')">🇬🇧 English</button>
          </mat-menu>
        </div>

        <div class="sign_up">
          <ng-container *ngIf="isLoading$ | async; else loadedState">
            <mat-spinner diameter="24"></mat-spinner> <!-- Spinner khi loading -->
          </ng-container>
        
          <ng-template #loadedState>
            <ng-container *ngIf="isLoggedIn$ | async; else notLoggedIn">
              <button mat-button [matMenuTriggerFor]="userMenu">
                <mat-icon>account_circle</mat-icon>
              </button>
        
              <mat-menu #userMenu="matMenu">
                <button mat-menu-item routerLink="/userInfo">
                  <mat-icon>person</mat-icon> Thông tin cá nhân
                </button>
                <button mat-menu-item (click)="signout()">
                  <mat-icon>logout</mat-icon> Đăng xuất
                </button>
              </mat-menu>
            </ng-container>
        
            <ng-template #notLoggedIn>
              <button class="logIn" mat-button routerLink="/signin">ĐĂNG NHẬP</button>
            <button class="signUp" mat-button routerLink="/signup">ĐĂNG KÝ</button>
            </ng-template>
          </ng-template>
        </div>

      </div>
    </div>
  </div>
</header>