.content-ads-1 {
  display: flex;
  
  img {
    margin: 20px 0 0 100px; 
    border-radius: 10px;
  }

  .content-ads-2 {
    img {
      display: flex;
      margin: 20px 0 0 20px; 
      border-radius: 10px;
    }
  }
}
.container-flashsale {
  background-color: pink; 
  width: 100%; 
  padding-top: 20px; 
  margin-top: 20px;
  padding-bottom: 20px;

  .flash-sale-countdown {
    text-align: center;
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 8px;
    margin: 20px auto;
    max-width: 600px;
  
    h2 {
      margin-bottom: 20px;
      color: #333;
    }
  
    .countdown-timer {
      display: flex;
      justify-content: center;
      gap: 20px;
      font-size: 2rem;
      
      .time {
        background-color: #fff;
        padding: 10px 15px;
        border-radius: 4px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      
      small {
        font-size: 0.5rem;
        color: #777;
      }
    }
  }
  
}

.flashsale-col {
  
  .flashsale-col-1 {
    display: flex;

    background-color: pink; 
    
    .book-item {
      border-radius: 10px; 
      width: 300px;
      background-color: #fff;
      padding: 10px;
      margin: 20px;

      img {
        width: 200px; 
        display: block; 
        margin: auto;
      }
      a {
        text-decoration: none; 
        text-align: left; 
        color: #000
      }
      h4 {
        color: red;
      }
      h5 {
        text-decoration: line-through;
        color: #888;
      }

    }
    .discount {
      display: flex;
      .discount-badge {
        margin: auto;
        background-color: #d32f2f; 
        color: #fff;            
        padding: 4px 8px;         
        border-radius: 4px;    
        font-weight: bold;
        font-size: 13px;
        display: inline-block;
        text-align: center;
        width: 15%;
        height: 16px;
      }
    }
  }
}