<div class="profile-container">
  <h2>Hồ sơ cá nhân</h2>

  <!-- <form [formGroup]="profileForm">

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Tên *</mat-label>
      <input matInput formControlName="full_name" placeholder="Nhập tên" required />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Số điện thoại</mat-label>
      <input matInput formControlName="phone_number" placeholder="Nhập số điện thoại" />
      <button mat-button color="primary" class="link-button">Thay đổi</button>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email"/>
      <button mat-button color="primary" class="link-button">Thêm mới</button>
    </mat-form-field>

    <div class="dob-group">
      <mat-form-field appearance="outline" class="dob-field">
        <mat-label>Ngày</mat-label>
        <input matInput formControlName="day" placeholder="DD" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="dob-field">
        <mat-label>Tháng</mat-label>
        <input matInput formControlName="month" placeholder="MM" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="dob-field">
        <mat-label>Năm</mat-label>
        <input matInput formControlName="year" placeholder="YYYY" />
      </mat-form-field>
    </div>

    <button mat-raised-button color="warn" class="submit-button" type="submit">
      Lưu thay đổi
    </button>
  </form> -->
</div>
